.visi-misi p {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
}

.visi-misi ol li {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
}

.visi-misi h1 {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700 !important;
  font-style: italic !important;
}

@media screen and (max-width: 900px) {
  .visi-misi img {
    margin: auto !important;
    margin-top: -20px !important;
    width: 40% !important;
  }

  .visi-misi {
    flex-direction: column !important;
  }

  .text {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin: auto !important;
    padding: 0 20px !important;
  }

  .visi-misi h1 {
    text-align: center !important;
  }

  .visi-misi p {
    text-align: center !important;
  }

  .visi-misi ol li {
    text-align: center !important;
  }
}
